<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.toolazytoname.xiaohei">

    <permission
        android:name="io.github.toolazytoname.xiaohei.permission.WAKEWORD_EVENT"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="小黑 / Xiaohei"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".WakewordReceiver"
            android:exported="true"
            android:permission="io.github.toolazytoname.xiaohei.permission.WAKEWORD_EVENT">
            <intent-filter>
                <action android:name="io.github.toolazytoname.xiaohei.action.WAKEWORD" />
            </intent-filter>
        </receiver>
        <service
            android:name=".XiaoheiVoiceInteractionService"
            android:exported="true"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/voice_interaction_service" />
        </service>
        <service
            android:name=".XiaoheiVoiceInteractionSessionService"
            android:exported="true"
            android:permission="android.permission.BIND_VOICE_INTERACTION" />
        <service
            android:name=".XiaoheiRecognitionService"
            android:exported="true"
            android:permission="android.permission.BIND_SPEECH_RECOGNITION">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service" />
        </service>
    </application>
</manifest>
